
<div class="container">
   <h4 class="text-center" *ngIf=" etudiants && etudiants.length >0 ">{{title}}</h4>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col mb-4" *ngFor="let etudiant of etudiants">
          <div class="card shadow mb-4">
            <img height="300" width="100"
            [src]="this.etudiantService.etudiants_url+'/photoEtudiant/'+etudiant.idEtudiant+'?ts='+getTS()"
            [title]="etudiant.nomEtudiant | titlecase"  
            class="card-img-top" 
            [alt]="etudiant.nomEtudiant"
            />
            <!--
            <button *ngIf="!editPhoto" (click)="onEditPhoto(currentEtudiant)">
              <span class="material-icons bg-primary text-white p-2 rounded-circle btn">
                edit
              </span>
            </button>
            <span *ngIf="editPhoto">
              <input type="file" (change)="onSelectedFile($event)">
              <button class="btn btn-success btn-sm" (click)="uploadPhoto()">
                <span class="material-icons mi-upload-file"></span>
              </button>
              {{progress}}
            </span>
            -->
            <div class="card-body">
              <h5 class="card-title">{{etudiant.prenomEtudiant}} {{etudiant.nomEtudiant}}</h5>
              <p class="card-text">Etablissement: {{etudiant.etablissementEtudiant}}</p>
              <p class="card-text">Domaine: {{etudiant.domaineEtudiant}}</p>
              <p class="card-text">Amical: {{etudiant.amical}}</p>



            
    <!--
              <div class="d-flex justify-content-between align-items-baseline">
            
                <span class="material-icons bg-primary text-white p-2 rounded-circle btn" [routerLink]="['/biens', bien.id, 'edit']">
                  edit
                </span>
                <span class="material-icons bg-info text-white p-2 rounded-circle btn" [routerLink]="['/biens', bien.id]">
                  keyboard_arrow_right
                </span>
              </div>
            -->
            </div>
          </div>
        </div>
    </div>
    </div>