<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="">AMEERN_CEERSO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" aria-current="page" [routerLink]="">Acceuil</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['/listeEtudiants']">Liste des etudiants</a>
          </li>
          <li class="nav-item" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['/listeEleves']">Liste des eleves</a>
          </li>
          <li class="nav-item" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['/listeParrainage']">Liste des parrainages</a>
          </li>
          </div>
        </div>
      </div>
    </nav>
 <!-- <app-liste-etudiant></app-liste-etudiant>-->
  <div class="mt-5 container">
      <router-outlet></router-outlet>
  </div>
  </div>
  