
<div class="container">
    <h4 class="text-center" *ngIf=" eleves && eleves.length >0 ">{{title}}</h4>
     <hr>
     <table class="table table-striped">
        <tr><th class="text-center">Eleve</th><th class="text-center">Etudiant</th></tr>

        <tbody *ngFor="let eleve of eleves">
            <tr>
                <td>  
                    <div class="card shadow mb-4" style="width: 35rem;">
                        <img height="340"
                        [src]="this.eleveService.eleves_url+'/photoEleve/'+eleve.idEleve"
                        [title]="eleve.nomEleve | titlecase"  
                        class="card-img-top" 
                        [alt]="eleve.nomEleve"
                        />
 
                        <div class="card-body">
                          <h5 class="card-title">{{eleve.prenomEleve}} {{eleve.nomEleve}}</h5>
                          <p class="card-text">Etablissement: {{eleve.etablissementEleve}}</p>
                          <p class="card-text">Domaine: {{eleve.domaineEleve}}</p>
            
                        </div>
                      </div>
                </td>
                
                <td> 
                    <div class="card shadow mb-4"style="width: 35rem;">
                        <img height="300"
                        [src]="this.etudiantService.etudiants_url+'/photoEtudiant/'+eleve.etudiant.idEtudiant"
                        [title]="eleve.etudiant.nomEtudiant | titlecase"  
                        class="card-img-top" 
                        [alt]="eleve.etudiant.nomEtudiant"
                        />

                        <div class="card-body">
                          <h5 class="card-title">{{eleve.etudiant.prenomEtudiant}} {{eleve.etudiant.nomEtudiant}}</h5>
                          <p class="card-text">Etablissement: {{eleve.etudiant.etablissementEtudiant}}</p>
                          <p class="card-text">Domaine: {{eleve.etudiant.domaineEtudiant}}</p>
                          <p class="card-text">Amical: {{eleve.etudiant.amical}}</p>
            
    
                        </div>
                      </div>
                 </td>

            </tr>
        </tbody>
     </table>
    


         </div>
     